<!-- {% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.navigation %}
  <li>
    <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" {% else %} class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" {% endif %}>{{ item.text }}</a>
    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %}
</ul> -->
<nav
  class="mt-2 md:flex justify-center md:justify-between items-center border-b-2 border-gray-100 py-4 md:space-x-10"
>
  <!-- Left side -->
  <div
    class="hidden md:flex flex-row items-center justify-start lg:w-0 lg:flex-1"
  >
    <a
      title="The Home Button"
      href="/index.html"
      class="text-gray-700 dark:text-blue-200 mr-4 hover:text-blue-500"
    >
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
        />
      </svg>
    </a>
    <button
      title="Roll the dice"
      class="hidden lg:flex text-gray-700 font-mono dark:text-gray-200 hover:text-blue-500"
      onclick="randomPost();"
    >
      arc4random_uniform(96)
    </button>
  </div>
  <!-- Right side -->
  <div id="navigation" class="hidden md:flex md:items-center">
    <a
      href="/indiedev.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="indiedev"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        Indies
      </div>
    </a>
    <a
      href="/tuts.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="tuts"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        Technical
      </div>
    </a>
    <a
      href="/snips.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="snips"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        Snips
      </div>
    </a>
    <a
      href="/ama.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="ama"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        A.M.A.
      </div>
    </a>
    <a
      href="/prettythings.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="prettythings"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        Pretty Things
      </div>
    </a>
    <a
      href="/allPosts.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="allPosts"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        Archive
      </div>
    </a>
    <a
      href="/about.html"
      class="text-base font-semibold hover:text-white dark:text-gray-200 lg:flex-none"
    >
      <div
        id="about"
        class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60"
      >
        About
      </div>
    </a>
  </div>
  <div class="flex items-center md:hidden">
    <a
      href="/index.html"
      class="flex-grow text-transparent bg-gradient-to-r bg-clip-text-webkit from-gray-300 to-blue-400 font-extrabold text-2xl text-center"
      >Swiftjective-C</a
    >
    <!-- Mobile menu button -->
    <button
      onclick="toggleMobileNav();"
      class="flex-none inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <!-- Icon when menu is closed. -->
      <!--
            Heroicon name: menu

            Menu open: "hidden", Menu closed: "block"
          -->
      <svg
        id="mobileNavOpen"
        class="mobileNavIsClosed block h-6 w-6 text-blue-300 dark:text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
      <!-- Icon when menu is open. -->
      <!--
            Heroicon name: x

            Menu open: "block", Menu closed: "hidden"
          -->
      <svg
        id="mobileNavClose"
        class="hidden h-6 w-6 text-blue-300 dark:text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <!-- Mobile Dropdown Menu -->
  <div
    id="mobileMenu"
    class="hidden flex-row md:hidden bg-gray-50 dark:bg-gray-900 mt-2 pt-2 pb-4 rounded-xl"
  >
    <nav class="mt-6 space-y-1" aria-label="Sidebar">
      <span
        class="text-gray-800 dark:text-gray-200 flex items-center px-3 font-bold rounded-md"
        >Content</span
      >
      <div class="flex flex-wrap">
        <a
          href="/indiedev.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          Indies
        </a>
        <a
          href="/tuts.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          Technical
        </a>
        <a
          href="/snips.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          Snips
        </a>
        <a
          href="/ama.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          A.M.A.
        </a>
        <a
          href="/prettythings.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          Pretty Things
        </a>
        <a
          href="/allPosts.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          Archive
        </a>
        <a
          href="/about.html"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
        >
          About
        </a>
      </div>
    </nav>

    <nav class="mt-6 space-y-1" aria-label="Sidebar">
      <span
        class="text-gray-800 dark:text-gray-200 flex items-center px-3 font-bold rounded-md"
        >Greatest Hits</span
      >
      <div class="flex flex-wrap">
        {% for popPost in popular %}
        <div class="flex flex-row space-x-2">
          <a
            href="{{ popPost.url | prepend: site.baseurl}}"
            class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
            >{{ popPost.prettyTitle }}</a
          >
        </div>
        {% endfor %}
      </div>
    </nav>

    <nav class="mt-6 space-y-1" aria-label="Sidebar">
      <span
        class="text-gray-800 dark:text-gray-200 flex items-center px-3 font-bold rounded-md"
        >Comms</span
      >
      <div class="flex flex-wrap">
        <a
          href="/feed.xml"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
          >RSS</a
        >
        <a
          href="https://www.twitter.com/jordanmorgan10"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
          >Tweeter Me</a
        >
        <a
          href="https://swiftjectivec.us20.list-manage.com/subscribe/post?u=86763e3ce1da1fa79f8079a24&amp;id=b5d1e5e3bc"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
          >Mailing List</a
        >
        <a
          href="https://github.com/DreamingInBinary/Swiftjective-C/issues"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
          >Report an Issue</a
        >
        <a
          href="m&#97;i&#108;t&#111;&#58;jor&#100;a&#110;&#109;&#111;rgan&#64;hey&#46;com"
          class="flex items-center px-3 py-2 text-sm font-semibold rounded-md text-gray-600 dark:text-gray-100"
          >Contact</a
        >
      </div>
    </nav>
  </div>
</nav>
