---
layout: default
---

<div class="bg-gray-50">
  <!-- MARK Header Text -->
  <div
    class="max-w-7xl mx-auto pt-6 py-2 px-4 sm:px-6 lg:py-2 lg:pt-8 lg:px-8 lg:flex lg:items-center lg:justify-between"
  >
    <h2
      class="text-5xl font-extrabold tracking-tight text-gray-900 sm:text-6xl"
    >
      <span class="block">Hi, I'm Terran.</span>
      <span class="block text-light-blue-600">
        <script>
          randomIAm()
        </script>
      </span>
    </h2>
  </div>
  <!-- MARK Some other text -->
  <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:py-4 lg:px-8">
    <div
      class="prose prose-light-blue prose-sm sm:prose lg:prose-lg xl:prose-xl"
    >
      <p>
        I'm a software engineer and world-traveller, and soon to be a student
        again! My range of interests include application design, public transit
        (especially signage), and
        <script>
          randomThird()
        </script>
      </p>
      <p>
        Anyway, you're here now. Might as well take a look at what I've been
        working on. Or get in touch with me.
      </p>
    </div>
    <p class="pt-4">
      <a class="text-linkedin" href="https://www.linkedin.com/in/terrankroft/"
        >LinkedIn</a
      >
      |
      <a class="text-github" href="https://github.com/itemic">GitHub</a> |
      <a class="text-twitter" href="https://www.twitter.com/itemic">Twitter</a>
      |
      <a
        class="bg-clip-text text-transparent bg-gradient-to-r from-amber-500 via-red-400 to-indigo-500"
        href="https://www.instagram.com/ekisigns"
        >Instagram</a
      >
    </p>
  </div>
</div>
