---
layout: default
image:
  background: assets/img/topobg.png
---

<div>
  <!-- MARK Header Text -->
  <div
    class="max-w-7xl mx-auto pt-6 py-2 px-4 sm:px-6 lg:py-2 lg:pt-8 lg:px-8 lg:flex lg:items-center lg:justify-between"
  >
    <h2
      class="text-5xl tracking-tight text-light-blue-900 sm:text-5xl font-garamond"
    >
      <span class="block">Terran Kroft</span>
      <span class="block text-light-blue-600">
      </span>
    </h2>
  </div>
  <!-- MARK Some other text -->
  <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:py-4 lg:px-8">
    <div
      class="prose prose-light-blue prose-lg sm:prose lg:prose-lg xl:prose-xl font-garamond"
    >
      <p>
        Terran is a software engineering masters student at the University of Melbourne and intern engineer at Drawboard. He is still figuring out how to craft this "about me" introduction.
      </p>
      <p>
        The website's getting a fresh coat of paint — and the paint's not yet dry, but please get in touch :)
      </p>
    </div>
    <p class="pt-4 font-garamond">
      <a class="text-linkedin" href="https://www.linkedin.com/in/terrankroft/"
        >LinkedIn</a
      >
      |
      <a class="text-github" href="https://github.com/itemic">GitHub</a> |
      <a class="text-twitter" href="https://www.twitter.com/itemic">Twitter</a>
      |
      <a
        class="bg-clip-text text-transparent bg-gradient-to-r from-amber-500 via-red-400 to-indigo-500"
        href="https://www.instagram.com/ekisigns"
        >Instagram</a
      >
    </p>
  </div>
</div>
