---
layout: default
---

<div class="bgimage">
  <!-- MARK Header Text -->
  <div class="max-w-7xl mx-auto pt-6 px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block text-light-blue-600"> {{ page.title }} </span>
    </h2>
  </div>
  <!-- MARK Some other text -->
  <div class="max-w-7xl mx-auto py-1 px-4 sm:px-6 lg:px-8 lg:flex">
    <div
      class="prose-lg prose-light-blue prose-sm sm:prose lg:prose-lg xl:prose-xl"
    >
      {{ content }}
    </div>
  </div>
</div>
