---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<div class="mt-12 mx-auto w-full md:w-8/12 lg:max-w-7xl">
  <div class="prose prose-blue prose-sm sm:prose lg:prose-lg xl:prose-xl">
    <h1 class="mb-0">{{ page.title }}</h1>
    <time datetime="{{ page.date }}">
      <small>
        <strong>{{ page.date | date_to_string }}</strong>
        {% if author %} by {{ author.name }} {% endif %}
      </small>
    </time>

    {% include page-intro.html %} {{ content }}
  </div>

  <nav aria-label="Adjacent Posts">
    <ul>
      {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev"
          >&laquo; {{page.previous.title}}</a
        >
      </li>
      {% endif %} {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
