---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<div class="mt-12 mx-auto w-8/12 md:w-8/12 lg:max-w-7xl">
  <h1
    class="text-5xl leading-7 font-extrabold text-gray-900 tracking-tight lg:text-7xl"
  >
    {{ page.title }}
  </h1>

  <div class="mb-3">
    <time
      class="bg-gradient-to-br from-cyan-100 to-light-blue-200 text-light-blue-600 w-max rounded-lg py-1 px-2 text-sm font-semibold"
      >{{ page.date | date: "%-d %B %Y" }}</time
    >
  </div>

  <div class="prose prose-green prose-sm sm:prose lg:prose-lg xl:prose-xl">
    <!-- {% include page-intro.html %} -->
    {{ content }}
  </div>

  <nav aria-label="Adjacent Posts">
    <ul>
      {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev"
          >&laquo; {{page.previous.title}}</a
        >
      </li>
      {% endif %} {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
